# Dependencies
node_modules/

# Build output
dist/
build/

# Environment files
.env
.env.local
.env.production
.env.*.local

# Python
__pycache__/
*.pyc
*.log
*.egg-info/

# IDE
.idea/
.vscode/
.venv/
.cache/